<h1>Top Site for bargain Mobile Phones</h1>

<p>The premier website that offers you great deals on the new mobile phones, we offer great value and a prompt service. Join the club and don't look back..</p>

	<%= image_tag("samsung.jpg", class:"image", :alt => "rss feed") %>
	
<p>We would like to use an opportunity to take the phone shop to the next level. The main focuses of our company are not only on technical characteristics of phones, but also on advising our customers about the phone use, true 
ratings, and true reviews of our experts. Before any of the phones comes to our stock, we do our research, collect the reviews from different resources, provide information to the
customers, and let them to make a final decision.</p>
	

